.contact2 {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: var(--contact-color);
  }
  
  .contact2:focus,
  .contact2:hover {
    color: var(--active-1-color);
  }
  
  .address {
    font-style: normal;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
  }