.footer-elements-pos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -30px;
    margin-bottom: -30px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-bot-container {
    flex-basis: calc((50% - 45px) / 2);
    margin-right: 30px;
    text-decoration: none;
  }
  
  .footer-social {
    flex-basis: calc((50% - 45px) / 2);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-bot-email {
    flex-basis: calc(50% - 15px);
  }
  
  .footer-bot {
    position: relative;
    display: flex;
  }
  
  .footer-bot-logo {
    display: inline-flex;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .footer-social-position {
    display: flex;
    justify-content: flex-start;
  }