.title-bg {
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/title-bg.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }